/*stylesheet*/
/*basetmpstylesheet*/

html, body{
overflow:auto;
}

tr, h1, table, .room, .outer, .inner, #innerT, #Title, #scale, #wrapper, .TOuter, .TInner, #table{
margin:0px;
border:0px;
padding:0px
}

/*controls the title bar*/
#Title{
width:50%;
height:7%;
color:white;
font-size:2.5vw;
vertical-align:center;
background-color:blue;
font-family:Georgia, serif;
border-radius:5px;
}

/*scale is the container that houses the time list and event tables*/
#scale{
width:100%;
height:93%;
vertical-align:baseline;
}

/*list, ul, li define the style for the time list*/
.TOuter{
display: inline-block;
width:6%;
height:76.7vh;
float:left;
border:0px;
}.TOuter .TInner{
position:absolute;
width:99%;
border-top:1px solid;
z-index:0;
opacity:0.85;
}

/*wrapper is the container that houses the event tables*/
#wrapper{
width:94%;
height:90.5vh;
left:6%;
float:right;
border:0px;
overflow:auto;
border-radius:5px;
box-shadow: inset 1px 1px 20px;
z-index:10;
}

/*table is the outside table that houses a set of tables for each day*/
#table{
width:100%;
height:100%;
float:left;
z-index:50;
}

/*day is the styling for the day label above each table*/
#day{
height:4vh;
font-size:90%;
font-weight:900;
}

/*innerT is the inside table that houses each days events*/
#innerT{
width:100%;
height:95%;
border-radius:5px;
background-color:silver;
vertical-align:baseline;
z-index:-50;
}


/*room defines the styling for the each rooms name*/
.room{
height:5vh;
text-align:center;
font-size:90%;
vertical-align:baseline;
}


/*outer, inner, box are the containers that holds all the styling for all the events in each room*/
.outer{
width:100%;
position:relative;
height:76.7vh;
vertical-align:baseline;
border:0px;
}

/*inner controls the width of all the events*/
.outer .inner{
width:150px;
}

.outer .inner .box{
width:98%;
position:absolute;
border-radius:5px;
background-color:red;
border:1px solid black;
font-size:100%;
overflow:hidden;
z-index:50;
-webkit-box-shadow: 2px 2px 2px;
-moz-box-shadow: 2px 2px 2px;
box-shadow: 2px 2px 2px;
}



/*description is the container for the pop up box that displays extra info about an event*/
.description{
display:none;
width:700px;
height: 200px;
overflow:auto;
font-size:15pt;
background-color:white;
border-radius:5px;
border:10px double silver;
position:absolute;
z-index:200;
}



@media screen and (max-width: 768px){

#Title{
width:50%;
height:6%;
font-size:2.5vw;
}

#scale{
width:100%;
height:94%;
}

.TOuter{
width:6%;
}.TOuter .TInner{
font-size:1.25vw;
}

#wrapper{
width:94%;
height:100%;
}

#day{
font-size:65%;
}

.room{
height:2.5vh;
font-size:20%;
}
.outer .inner{
width:75px;
}

.outer .inner .box{
font-size:50%;
}

.description{
width:400%;
height:50%;
}
}
@media screen and (max-width: 480px){

#Title{
width:90%;
height:5%;
font-size:5vw;
}

#scale{
width:100%;
height:95%;
}

.TOuter{
width:9%;
}.TOuter .TInner{
font-size:2.5vw;
}

#wrapper{
width:91%;
}

#day{
font-size:75%;
}

.room{
height:2.5vh;
font-size:20%;
}
.outer .inner{
width:50px;
}

.description{
width:400%;
height:50%;
}
}

